/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
	@apply flex justify-center items-center;
}

.area-full {
	@apply min-w-full min-h-full;
}

.area-fit {
	@apply w-fit h-fit;
}
